body{
width:500px;
margin:auto;}

.square{
border:1;
background-color: green;
width:80px;
height:80px;
text-align: center;
font-size:30px;
text-transform: uppercase;}

h1{
font-style: arial;}
}
.points{
background-color: lightblue;}
