body{
width:500px;
margin:auto;}

.square{
border:1;
background-color: green;
width:80px;
height:80px;
cursor:pointer;
text-align: center;
font-size:30px;
text-transform: uppercase;}

h1{
font-style: arial;}
}
.points{
background-color: lightblue;}


.button {
    background-color: #008000;
    border: none;
    color: white;
    width:80px;
	height:80px;
	cursor:pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.t3{
background-color: #F1C40F;
border-color: #17202A;}
.t4{
background-color: #F1C40F;
border-color: #17202A;
width:600px;
}